In [9]:
import pandas as pd

pd.read_csv("data/final/features_Bank_Nifty_5.csv")

,datetime_readable,open,high,low,close,datetime_epoch,sma_5,ema_5,sma_10,ema_10,...,upper_shadow,lower_shadow,gap_up,gap_down,sma_5_20_cross,sma_10_50_cross,price_vs_sma_20,price_vs_ema_20,volatility_10,volatility_20
0,2024-03-20 13:20:00,46535.90,46655.55,46524.55,46632.60,1710921000,46513.23,46537.13,46479.48,46484.21,...,0.05,0.02,0.01,0.00,1,1,0.50,0.48,0.15,0.22
1,2024-03-20 13:25:00,46635.30,46649.10,46581.25,46588.65,1710921300,46548.70,46554.31,46495.05,46503.20,...,0.03,0.02,0.01,0.00,1,1,0.37,0.35,0.16,0.22
2,2024-03-20 13:30:00,46593.65,46593.65,46516.50,46528.55,1710921600,46564.60,46545.72,46501.72,46507.81,...,0.00,0.03,0.01,0.00,1,1,0.21,0.20,0.16,0.22
3,2024-03-20 13:35:00,46532.80,46568.10,46518.55,46561.70,1710921900,46568.41,46551.05,46511.99,46517.61,...,0.01,0.03,0.01,0.00,1,1,0.25,0.24,0.16,0.22
4,2024-03-20 13:40:00,46562.25,46594.70,46541.15,46591.15,1710922200,46580.53,46564.41,46523.66,46530.98,...,0.01,0.05,0.00,0.00,1,1,0.28,0.28,0.17,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19779,2025-04-17 15:05:00,54334.25,54336.85,54260.40,54269.75,1744882500,54318.18,54310.99,54327.16,54318.62,...,0.00,0.02,0.00,0.00,-1,1,-0.11,-0.03,0.07,0.08
19780,2025-04-17 15:10:00,54263.40,54282.00,54252.40,54259.20,1744882800,54298.65,54293.73,54324.66,54307.82,...,0.03,0.01,0.00,0.01,-1,1,-0.13,-0.04,0.08,0.07
19781,2025-04-17 15:15:00,54260.10,54332.25,54246.10,54307.05,1744883100,54296.84,54298.17,54326.96,54307.68,...,0.05,0.03,0.00,0.00,-1,1,-0.03,0.04,0.08,0.07
19782,2025-04-17 15:20:00,54308.55,54308.65,54283.75,54296.05,1744883400,54292.76,54297.46,54319.18,54305.56,...,0.00,0.02,0.00,0.00,-1,1,-0.05,0.02,0.07,0.07
19783,2025-04-17 15:25:00,54297.85,54306.95,54214.60,54252.05,1744883700,54276.82,54282.32,54306.40,54295.83,...,0.02,0.07,0.00,0.00,-1,1,-0.12,-0.06,0.07,0.08