In [3]:
import pandas as pd

pd.read_csv('data/final/features_Bank_Nifty_5.csv').head(5)

,open,high,low,close,sma_5,ema_5,sma_10,ema_10,sma_20,ema_20,...,upper_shadow,lower_shadow,gap_up,gap_down,sma_5_20_cross,sma_10_50_cross,price_vs_sma_20,price_vs_ema_20,volatility_10,volatility_20
0,48577.05,48618.35,48560.35,48600.25,48571.71,48575.97,48554.06,48562.06,48537.63,48560.47,...,0.04,0.03,0.0,0.0,1,-1,0.13,0.08,0.07,0.09
1,48597.90,48615.40,48582.30,48606.85,48583.74,48586.26,48565.15,48570.21,48540.05,48564.89,...,0.02,0.03,0.0,0.0,1,-1,0.14,0.09,0.06,0.09
2,48606.35,48609.10,48586.25,48595.25,48590.04,48589.26,48574.12,48574.76,48542.28,48567.78,...,0.01,0.02,0.0,0.0,1,-1,0.11,0.06,0.04,0.10
3,48593.25,48595.25,48559.10,48581.75,48592.16,48586.75,48576.16,48576.03,48541.51,48569.11,...,0.00,0.05,0.0,0.0,1,-1,0.08,0.03,0.04,0.09
4,48580.65,48629.25,48577.85,48611.30,48599.08,48594.94,48582.46,48582.44,48544.73,48573.13,...,0.04,0.01,0.0,0.0,1,-1,0.14,0.08,0.04,0.10